<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Access is strictly limited to Meyer Partners clients and employees.  All other access is prohibited.

  To registered for access, please sign up using an email from Meyer Partner client domain.

  Once your request is verified and validated, you will be sent an activation email.
</p>