<% provide(:title, 'All campaigns') %>
<div class = "row-fluid">
	<aside class = "span4">
		<section>
		<p><%= link_to "New Campaign", '#' %></p>
 		</section>
 	</aside>
 	<div class = "span 8">
 	<h3>All Campaigns</h3>
	  <%= will_paginate %>

	  <ol class="campaigns">
		<%= render campaigns %>
	  </ol>

	  <%= will_paginate %>
	</div>
</div>