<footer class="footer">
  <small>
    Copyright &copy <a href="http://meyerpartners.com/">Meyer Partners</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.meyerpartners.com/about-us">About</a></li>
      <li><a href="http://www.meyerpartners.com/contact">Contact</a></li>
      <li><a href="http://www.meyerpartners.com/resources">News</a></li>
    </ul>
  </nav>
</footer>